<div class="header__menu menu">
  <nav class="menu__body">
    <ul class="menu__list">
      <li>
        <a routerLink="/profile" routerLinkActive="active" class="menu__link">
          <span>Профиль</span>
          <span>Профиль</span>
        </a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active" class="menu__link">
          <span>Юзеры</span>
          <span>Юзеры</span>
        </a>
      </li>
      <li>
        <a routerLink="/posts" routerLinkActive="active" class="menu__link">
          <span>Посты</span>
          <span>Посты</span>
        </a>
      </li>
    </ul>
  </nav>
</div>