.container {
  background-color: rgb(222, 222, 222);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  height: calc(100vh - 115px);
  width: 100%;
  overflow: auto;
  @media (max-width: 1024px) {
    height: calc(100vh - 95px);
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
