<div class="container" [@add]>
  <div (click)="onUserClick()" class="image" style="background-image: url({{post.imageUrl}})">
  </div>
  <div class="text">
    <a (click)="onUserClick()">{{post.name}}</a>
    <p>{{post.text}}</p>
    <form *ngIf="edit" [formGroup]="editForm" class="form">
      <textarea #textarea class="edit" formControlName="edit" name="edit" resize="false"></textarea>
      <button type="button" class="save-btn" (click)="onSaveBtn()">Save</button>
      <button type="button" class="cancel-btn" (click)="onCancelBtn()">Cancel</button>
    </form>
  </div>
  <div *ngIf="!edit && canEdit" class="buttons">
    <button type="button" class="btn" (click)="onEditBtn()">Edit</button>
    <button type="button" class="btn" (click)="onDeleteBtn()">Delete</button>
  </div>
</div>