<div class="container" #scrollContainer>
  <app-post [@add]="anim" *ngFor="let post of posts; let i = index" [post]="post" [index]="i"
    (delete)="onDelete($event)">
  </app-post>
  <!-- <div style="border: 1px solid #000;" [@add] *ngFor="let post of posts; let i = index">
    {{post}}
  </div> -->
</div>
<div #textarea class="form-box">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="form">
    <div class="message">
      <textarea formControlName="post" name="post" id="post" resize="false"></textarea>
    </div>
    <div class="button">
      <button [disabled]="postForm.invalid">Отправить</button>
    </div>
  </form>
</div>