<div class="container" [@route]="routeAnimation(outlet)">
  <div class="info">
    <router-outlet #outlet="outlet"></router-outlet>
    <div *ngIf="!editing" class="row">
      <div class="avatar">
        <img src="{{profile.imageUrl}}" />
        <div *ngIf="edit" (click)="onEdit()" class="edit">Edit</div>
      </div>
      <div class="description">
        <div class="main" style="margin-top: -4px;">Общая информация</div>
        <strong>Позиция: {{profile.position}}</strong>
        <p><span>Статус:</span> {{profile.status}}</p>
        <p><span>Вид занятости:</span> {{profile.employment}}</p>
        <p><span>Желаемая зарплата:</span> {{profile.payment}}</p>
        <p><span>Желаемый город работы:</span> {{profile.wishcity}}</p>
        <div class="main" style="margin-top: 10px;">Личная информация</div>
        <strong>Ф.И.О: {{profile.name}}</strong>
        <p><span>Дата рождения:</span> {{profile.birthday}}</p>
        <p><span>Город:</span> {{profile.city}}</p>
        <p><span>Телефон:</span> {{profile.phone}}</p>
        <p><span>Почта:</span> {{profile.email}}</p>
        <span>Соц. сеть:</span><a class="link" href="{{profile.social}}" target="_blank">{{profile.social}}</a>
      </div>
    </div>
  </div>
  <div class="job">
    <div class="skills">
      <div class="main">Скилы <span class="change-btn" (click)="onChangeSkills()">Изменить</span></div>
      <p *ngIf="!skills">Коммерческого опыта - нет, знания - есть:
        Html, css (scss), js (Vanilla/jQuery), БЭМ, gulp, адаптив, кроссбраузер.</p>
    </div>
    <form *ngIf="skills" [formGroup]="skillsForm" class="form">
      <textarea #textarea class="skills-edit" formControlName="skills" name="skills" resize="false"></textarea>
      <div class="buttons">
        <button type="button" class="btn save-btn" (click)="onSaveSkills()">Save</button>
        <button type="button" class="btn cancel-btn" (click)="onCancelSkills()">Cancel</button>
      </div>
    </form>
  </div>
  <div class="work">
    <div class="experience">
      <div class="main">Опыт работы <span class="change-btn" (click)="onAddExperience()">Добавить</span></div>
      <div (click)="onChangeExperience()">
        <strong>GlobalLogic</strong> <span class="change-btn">Изменить</span>
        <p>Junior Front-End Developer</p>
        <p>5 месяцев</p>
      </div>
    </div>
    <form *ngIf="experience" [formGroup]="experienceForm" class="form">
      <div class="exp-input"><input type="text" id="place" formControlName="place" name="place"
          placeholder="Место работы"></div>
      <div class="exp-input"><input type="text" id="position" formControlName="position" name="position" placeholder="Должность">
      </div>
      <div class="exp-input"><input type="text" id="period" formControlName="period" name="period" placeholder="Период">
      </div>
      <div class="buttons">
        <button type="button" class="btn save-btn" (click)="onSaveExperience()">Save</button>
        <button type="button" class="btn cancel-btn" (click)="onCancelExperience()">Cancel</button>
      </div>
    </form>
  </div>
</div>