<div class="container" [@route]="routeAnimation(outlet)">
  <div class="info">
    <router-outlet #outlet="outlet"></router-outlet>
    <div *ngIf="!editing" class="row">
      <div class="avatar">
        <div class="img" style="background-image: url({{profile.imageUrl}})"></div>
        <div *ngIf="edit" (click)="onEdit()" class="edit">Edit</div>
        <div *ngIf="userMail !== profile.privateMail" (click)="onSendMessage()" class="message">
          <span>Отправить сообщение</span>
        </div>
      </div>
      <div class="description">
        <div class="main" style="margin-top: -4px;">Общая информация</div>
        <strong>Позиция: {{profile.position}}</strong>
        <p><span>Статус:</span> {{profile.status}}</p>
        <p><span>Вид занятости:</span> {{profile.employment}}</p>
        <p><span>Желаемая зарплата:</span> {{profile.payment}}</p>
        <p><span>Желаемый город работы:</span> {{profile.wishcity}}</p>
        <div class="main" style="margin-top: 10px;">Личная информация</div>
        <strong>Ф.И.О: {{profile.name}}</strong>
        <p><span>Дата рождения:</span> {{profile.birthday}}</p>
        <p><span>Город:</span> {{profile.city}}</p>
        <p><span>Телефон:</span> {{profile.phone}}</p>
        <p><span>Почта:</span> {{profile.email}}</p>
        <span>Соц. сеть:</span><a [ngClass]="profile.social ? 'link' : ''" href="{{profile.social}}"
          target="_blank">{{profile.social}}</a>
      </div>
    </div>
  </div>
  <div class="work">
    <div class="skills">
      <div class="main">Скилы <span *ngIf="edit && !changeSkills" class="change-btn"
          (click)="onChangeSkills()">Изменить</span></div>
      <p *ngIf="!skills">{{profile.skills}}</p>
    </div>
    <form *ngIf="skills" [formGroup]="skillsForm" class="form">
      <textarea #textarea class="skills-edit" formControlName="skills" name="skills" resize="false"></textarea>
      <div class="buttons">
        <button type="button" class="btn save-btn" (click)="onSaveSkills()">Save</button>
        <button type="button" class="btn cancel-btn" (click)="onCancelSkills()">Cancel</button>
      </div>
    </form>
  </div>
  <div class="job">
    <div class="experience">
      <div class="main">Опыт работы <span *ngIf="edit && formId !== -1" class="change-btn"
          (click)="onAddExperience()">Добавить</span>
      </div>
      <form *ngIf="experience && formId === -1" [formGroup]="experienceForm" class="form">
        <div class="exp-input"><input type="text" id="place" formControlName="place" name="place"
            placeholder="Место работы"></div>
        <div class="exp-input"><input type="text" id="position" formControlName="position" name="position"
            placeholder="Должность">
        </div>
        <div class="exp-input"><input type="text" id="period" formControlName="period" name="period"
            placeholder="Период">
        </div>
        <div class="buttons">
          <button type="button" class="btn save-btn" (click)="onSaveExperience()">Save</button>
          <button type="button" class="btn cancel-btn" (click)="onCancelExperience()">Cancel</button>
        </div>
      </form>
      <div *ngFor="let job of profile.jobs; let i = index;" class="jobs">
        <div *ngIf="formId !== i">
          <strong> {{job.place}} </strong>
          <span (click)="onChangeExperience(i)" *ngIf="edit" class="change-btn">Изменить</span>
          <span (click)="onDeleteExperience(i)" *ngIf="edit" class="change-btn">Удалить</span>
          <p> {{job.position}} </p>
          <p> {{job.period}} </p>
        </div>
        <form *ngIf="experience && formId === i" [formGroup]="experienceForm" class="form">
          <div class="exp-input"><input type="text" id="place" formControlName="place" name="place"
              placeholder="Место работы"></div>
          <div class="exp-input"><input type="text" id="position" formControlName="position" name="position"
              placeholder="Должность">
          </div>
          <div class="exp-input"><input type="text" id="period" formControlName="period" name="period"
              placeholder="Период">
          </div>
          <div class="buttons">
            <button type="button" class="btn save-btn" (click)="onSaveExperience(i)">Save</button>
            <button type="button" class="btn cancel-btn" (click)="onCancelExperience()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>