<a class="user" [routerLink]="index" *ngIf="profile.privateMail !== myMail">
  <div class="row">
    <div *ngIf="newMessagesValue" class="new-messages">
      <span *ngIf="newMessagesValue[index]">{{newMessagesValue[index]}}</span>
    </div>
    <div class="avatar" style="background-image: url({{profile.imageUrl}})">
    </div>
    <div class="content">
      <p><strong>Имя: {{profile.name}}</strong></p>
      <p><span>Позиция: {{profile.position}}</span></p>
      <p><span>Почта: {{profile.email}}</span></p>
    </div>
  </div>
</a>